.container
{
    margin:0 auto;
    width: 50%;
}
body
{
    background: #23746C;
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
h1
{
    color:yellow;
}
p:first-letter {
  font-size: 45px;
}


p span
{
    color: red;
    -webkit-text-stroke-width: 0.05px;
    -webkit-text-stroke-color: yellow;
}
h2
{
    color: yellow;
}
ol li a
{
    color: red;
    text-decoration: none;
}
img
{
    border: 3px solid black;
}